{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <ul class="patterns-list">
      {{ range (.Paginator 10).Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
              <use xlink:href="#bookmark"></use>
            </svg>
            {{ .Title }}
          </a>
          <small> - {{ .PublishDate.Format "Jan 2, 2006" }}</small>
        </h2>
      </li>        
      {{ end }}
    </ul>
    <div data-pagination>
    {{ template "_internal/pagination.html" . }}
    </div>
  </main>
{{ end }}
